<script type="text/javascript">
  function createNew() {
    location.href = "Event.php?id=New";
  }

  var strTable;
  function writeCell(strData, strWidth, strLink) {
    if (strLink == null) {
      return "<td style='width:" +strWidth+ ";'>" + strData + "</td>" ;
    } else {
      return "<td style='width:" +strWidth+ ";'><a href='"+strLink+"'>" + strData + "</a></td>" ;
    }
  }

  function writeRow(element, index, array) {
  strStart = element['startdate'];
  strStart = strStart.replace(/-/g,"/");
  var startDate = new Date(strStart);
  strEnd = element['enddate'];
  strEnd = strEnd.replace(/-/g,"/");
  var endDate = new Date(strEnd);

  strTable = strTable + "<tr>";
  strTable = strTable + writeCell(element["name"] , "150px" , "Signups.php?id=" + element["id"] );
  strTable = strTable + writeCell(element["location"], "150px" );
  strTable = strTable + writeCell(startDate.toDateString(), "150px" );
  strTable = strTable + writeCell(endDate.toDateString(), "150px" );
  strTable = strTable + writeCell( "$" + element["cost"], "75px" );
  strTable = strTable + "</tr>";
  }
    
  $(document).ready(function(){ 
  $.ajax({
    url: "api/getevents.php" ,
    type: "post",
    contentType: 'application/json',
    datatype: 'json',
    error: function(data) {
      console.log(data);
    },
    success: function(data){
      strTable = "";
      $('#userdata').empty();
      strTable="<table><tr><th>Event</th><th>Location</th><th>Start</th><th>End</th><th>Cost</th></tr>";
      data.forEach(writeRow);
      strTable = strTable + "</table>" ;
      $("#userdata").append(strTable);
  }
    });
  })
</script>
<div class="row"\>
  <div class="large-12 columns">
    <div id="userButtons"></div>
    <div id='userdata'></div>
  </div>
</div>
