<script type="text/javascript">
/**
 * Validates a form field is not empty.
 * @param {string} strFieldID - The ID of the field to validate
 * @param {string} strLabel - The label to display in the error message
 * @returns {boolean} - true if valid, false if empty
 */
function validateField(strFieldID, strLabel) {
  var fld = document.getElementById(strFieldID);
  if ((fld.type=="text")||(fld.type=="select-one")) {
    if (fld.value =="") {
      alert(strLabel + " is required.");
      fld.focus();
      return false;
    }
  }
  return true;
}


$(document).ready(function () {
  // CSRF token is automatically added by ajaxsetup-csrf-traditional.js
  var user_id = document.getElementById('user_id').value;
  var fieldData = {
    "id": user_id
  };
  $.ajax({
    url: "api/getfamily.php",
    type: "post",
    data: fieldData,
    datatype: 'json',
    error: function (data) {
      // Error handling - display user-friendly message
      $("#addressData").html("<p>Unable to load address data. Please try again.</p>");
    },
    success: function (data) {
      $('#userdata').empty();
      $("#addressData").append("<br /><p>Your address:</p>");
      // Note: data.addressData is pre-escaped HTML from getfamily.php API (uses escape_html())
      $("#addressData").append(data.addressData);
    }
  });
})
</script>


<div class="row">
  <div class="large-12 columns">
  <div id='addressData'></div>
  </div>
</div>
