<script type="text/javascript">
	function createNew() {
		location.href = "Paperbox.php?id=New";
	}

  var strTable;
  function writeCell(strData, strWidth, strLink) {
  	if (strLink == null) {
  	  return "<td style='width:" +strWidth+ ";'>" + strData + "</td>" ;
  	} else {
  	  return "<td style='width:" +strWidth+ ";'><a href='"+strLink+"'>" + strData + "</a></td>" ;
  	}
  }
  
  function writeRow(element, index, array) {
		strDate = element['pbdate'];
		strDate = strDate.replace(/-/g,"/");
		var pbDate = new Date(strDate);
				
		strTable = strTable + "<tr>";
    strTable = strTable + writeCell(pbDate.toDateString(), "150px" , "Paperbox.php?id=" + element["id"] );
    strTable = strTable + writeCell(element["patrol"] , "150px" );
    strTable = strTable + "</tr>";
  }

	function setButtons(showEdit) {
		if (showEdit=="1") {
			buttonData = '<button type="button" onclick="createNew();" class="tiny round button">New Entry</button>';
			$('#userButtons').append(buttonData);
		}
		
	}

	$(document).ready(function(){ 
		showEdit = document.getElementById('showEdit').value;
  	$.ajax({
   	  url: "api/getPBs.php" ,
   	  type: "post",
   	  contentType: 'application/json',
      datatype: 'json',
			error: function(errorThrown) {
				console.log(errorThrown);
			},
			success: function(data){
				console.log(data);
				strTable = "";
 	      $('#userdata').empty();
        strTable="<table><tr><th>Date</th><th>Patrol</th></tr>";
 	      data.forEach(writeRow);
 	      strTable = strTable + "</table>" ;
        $("#userdata").append(strTable);
     	}
		});
		setButtons(showEdit);
	})
</script>
<div class="row"\>
	<div class="large-12 columns">
		<div id="userButtons"></div>
		<div id='userdata'></div>
	</div>
</div>
