
<form id="myForm">
<p>Troop 212 site registration is only open to Scouts and related adults of Troop 212. 
Please fill out all applicable fields and click Register. 
A leader will approve your registration shortly and you will then be able to login.</p>
<input type="hidden" id="id"/>
  <div class="row">
    <div class="large-6 columns">
      <input type="radio" name="user_type" value="Scout" ><label>Scout</label>
      <input type="radio" name="user_type" value="Dad" ><label>Adult</label>
      <input type="radio" name="user_type" value="Mom" ><label>Adult</label>
      <input type="radio" name="user_type" value="Other" ><label>Adult</label>
    </div>
  </div>
  
  <div class="row">
    <div class="large-6 columns">
      <label>First Name
        <input type="text" id="first"/>
      </label>
    </div>
    <div class="large-6 columns">
      <label>Last Name
        <input type="text" id="last"/>
      </label>
    </div>
  </div>
  
  <div class="row">
    <div class="large-6 columns">
      <label>Phone
        <input type="text" id="phone"/>
      </label>
    </div>
    <div class="large-6 columns">
      <label>Email
        <input type="text" id="email"/>
      </label>
    </div>
  </div>
  
  <div class="row" id="scouts_only" style="display:none">
    <div class="large-6 columns">
      <label>Rank
        <select id="rank">
          <option value="New">New</option>
          <option value="Scout">Scout</option>
          <option value="Tenderfoot">Tenderfoot</option>
          <option value="2nd Class">2nd Class</option>
          <option value="1st Class">1st Class</option>
          <option value="Star">Star</option>
          <option value="Life">Life</option>
          <option value="Eagle">Eagle</option>
        </select>
      </label>
    </div>
    <div class="large-6 columns">
      <label>Patrol
        <select id="patrol">
          <option value="Cobra">Cobra</option>
          <option value="Dragon">Dragon</option>
          <option value="Grizzly">Grizzly</option>
          <option value="Narwahl">Narwahl</option>
          <option value="Penguin">Penguin</option>
          <option value="Salamander">Salamander</option>
          <option value="Staff">Staff</option>
        </select>
      </label>
    </div>
  </div>

<a onclick="createUser()" class="round small button">Register</a>

<div class="clearfix"></div>
  
</form>
