<script type="text/javascript">
  var user_type;
  var webMaster;
  var strID;


  // Toggles a div on or off
  // TODO: replace this with the remove() method
  //   as this seems to only be used to remove tokens
  function toggleDiv(divName) {
    $('#' + divName).toggle();
  }

  // Adds the edit flag to the URL for the doc,
  //  which triggers editing mode.
  function editDoc() {
    strURL = location.href + "&edit=1";
    location.href = strURL;
  }

  // Submits the currently-filled-out document forms
  //  which are pulled from the named fields below.
  function submitDoc() {
    var mb_list = [];
    var family_id = $('#family_id').val();
    var inputElements = document.getElementsByClassName('mbCheckbox');

    for (var i = 0; inputElements[i]; ++i) {
      if (inputElements[i].checked) {
        mb_list.push(inputElements[i].value);
      }
    }

    // Collect notification preferences
    var notif_prefs = {};
    var notifElements = document.getElementsByClassName('notifPrefCheckbox');
    for (var j = 0; notifElements[j]; ++j) {
      var key = notifElements[j].value;
      notif_prefs[key] = notifElements[j].checked;
    }

    // Debug: Log what we're sending
    console.log("Notification preferences being sent:", notif_prefs);

    var fieldData = {
      "user_type": $('#user_type').val(),
      "first": $('#user_first').val(),
      "last": $('#user_last').val(),
      "email": $('#user_email').val(),
      "rank": $('#rank').val(),
      "patrol": $('#patrol').val(),
      "position": $('#position').val(),
      "phone_1": $('#user_phone_1').val(),
      "phone_2": $('#user_phone_2').val(),
      "phone_3": $('#user_phone_3').val(),
      "phone_type_1": $('#phone_type_1').val(),
      "phone_type_2": $('#phone_type_2').val(),
      "phone_type_3": $('#phone_type_3').val(),
      "phone_id_1": $('#phone_id_1').val(),
      "phone_id_2": $('#phone_id_2').val(),
      "phone_id_3": $('#phone_id_3').val(),
      "scout_1": $('#scout_1').val(),
      "scout_2": $('#scout_2').val(),
      "scout_3": $('#scout_3').val(),
      "scout_4": $('#scout_4').val(),
      "address1": $('#address1').val(),
      "address2": $('#address2').val(),
      "city": $('#city').val(),
      "state": $('#state').val(),
      "zip": $('#zip').val(),
      "mb_list": mb_list,
      "notif_prefs": JSON.stringify(notif_prefs),
      "wm": webMaster,
      "family_id": family_id,
      "id": strID
    };
    $.ajax({
      url: "api/updateuser.php",
      type: "post",
      dataType: 'json',
      data: fieldData,
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        console.log(errorThrown);
      },
      success: function (data) {
        if (data["status"] == "validation") {
          alert(data["message"]);
          $("#" + data["field"]).focus();
        } else if (data["status"] == "Success") {
          alert("Details have been updated!");
          strURL = "User.php?id=" + strID;
          location.href = strURL;
        }
      }
    })
  }

  function loadEVTable(strSort, strTypeID, strOrder) {
    var fieldData = {
      "sort": strSort,
      "userid": strID,
      "order": strOrder,
      "typeid": strTypeID
    };
    if (strSort == 'startdate') {
      var strDateOrder = "";
      if (strOrder == 'desc') {
        strDateOrder = 'asc';
      } else {
        strDateOrder = 'desc';
      }
    }
    $.ajax({
      url: "api/getattendance.php",
      type: "post",
      dataType: 'json',
      data: fieldData,
      error: function (data) {
        console.log(data);
      },
      success: function (data) {
        //console.log(data);
        if (data == null) { return }
        var divName = "#ev_event_" + strTypeID;
        var strTable = "";
        $(divName).empty();
        strTable = "<table><thead><tr>";
        strTable = strTable + "<th><a href='#' class='ev-sort-link' data-sort='startdate' data-typeid='" + strTypeID + "' data-order='" + strDateOrder + "'>Start Date</a></th>";
        strTable = strTable + "<th><a href='#' class='ev-sort-link' data-sort='name' data-typeid='" + strTypeID + "' data-order='asc'>Event Name</a></th>";
        strTable = strTable + "<th><a href='#' class='ev-sort-link' data-sort='location' data-typeid='" + strTypeID + "' data-order='asc'>Location</a></th>";
        strTable = strTable + "</tr></thead><tbody>";

        // Build table rows
        data.forEach(function(element) {
          var strStart = element['startdate'];
          strStart = strStart.replace(/-/g, "/");
          var startDate = new Date(strStart);

          strTable = strTable + "<tr>";
          strTable = strTable + "<td style='width:150px;'>" + escapeHtml(startDate.toDateString()) + "</td>";
          strTable = strTable + "<td style='width:200px;'><a href='Event.php?id=" + encodeURIComponent(element["event_id"]) + "'>" + escapeHtml(element["name"]) + "</a></td>";
          strTable = strTable + "<td style='width:200px;'>" + escapeHtml(element["location"]) + "</td>";
          strTable = strTable + "</tr>";
        });

        strTable = strTable + "</tbody></table>";
        //console.log(strTable);
        $(divName).append(strTable);

        // Bind click handlers for sort links (replacing javascript: protocol)
        $(divName).find('.ev-sort-link').on('click', function(e) {
          e.preventDefault();
          var sortField = $(this).data('sort');
          var typeId = $(this).data('typeid');
          var order = $(this).data('order');
          loadEVTable(sortField, typeId, order);
        });

        $("#divEvents" + strTypeID).show();
      }
    })
  }

  function selectScout(element, index, array) {
    var fldIndex = index + 1;
    $('#scout_' + fldIndex).val(element);
  }

  function setButtons(varEdit, showEdit, user_type, webMaster) {
    if ((varEdit == "1") || (strID == "New")) {
      buttonData = '<a onclick="submitDoc()" class="round small button">Submit</a><div class="clearfix"></div>';
    } else {
      if (showEdit == "1") {
        var family_id = $('#family_id').val();
        buttonData = '<a href="addfamilymember.php?familyID=' + family_id + '" class="round small button">Add Family Member</a>&nbsp;';
        buttonData = buttonData + '<a onclick="editDoc();" class="round small button">Edit</a>';

        // Add patrol email button placeholder (will be populated by loadPatrolEmailButton)
        buttonData = buttonData + '<span id="patrolEmailBtn"></span>';

        buttonData = buttonData + '<div class="clearfix"></div>';
      }
    }
    $('#userButtons').append(buttonData);

    // Load patrol email button if viewing a scout
    if (user_type == 'Scout' && varEdit != "1" && showEdit == "1") {
      loadPatrolEmailButton();
    }
  }

  function loadPatrolEmailButton() {
    $.ajax({
      url: "api/getPatrolEmails.php",
      type: "post",
      data: { user_id: strID },
      dataType: 'json',
      error: function(xhr, status, error) {
        console.log("Error loading patrol emails:", error);
      },
      success: function(data) {
        if (data.status === 'Success') {
          var patrolName = data.patrol_name;
          var btnHtml = '';

          // Email button
          if (data.emails && data.emails.length > 0) {
            var emailList = data.emails.join(',');
            var subject = encodeURIComponent('[' + patrolName + '] ');
            var mailtoLink = 'mailto:?bcc=' + encodeURIComponent(emailList) + '&subject=' + subject;

            btnHtml += '&nbsp;<a href="' + mailtoLink + '" class="round small button secondary">';
            btnHtml += '<i class="fi-mail" style="font-size:14px;"></i> Email ' + escapeHtml(patrolName) + '</a>';
          }

          // SMS button (for mobile devices)
          if (data.phones && data.phones.length > 0) {
            // Detect platform and use appropriate SMS URI format
            // iOS: sms:/open?addresses=num1,num2
            // Android: sms:num1,num2
            var isIOS = /iPad|iPhone|iPod/.test(navigator.userAgent);
            var smsLink;

            if (isIOS) {
              smsLink = 'sms:/open?addresses=' + data.phones.join(',');
            } else {
              smsLink = 'sms:' + data.phones.join(',');
            }

            btnHtml += '&nbsp;<a href="' + smsLink + '" class="round small button secondary">';
            btnHtml += '<i class="fi-telephone" style="font-size:14px;"></i> Send Patrol Text</a>';
          }

          $('#patrolEmailBtn').html(btnHtml);
        }
      }
    });
  }

  function loadPatrolMembers() {
    $.ajax({
      url: "api/GetPatrolMembersForUser.php",
      type: "post",
      data: { user_id: strID },
      dataType: 'json',
      error: function(xhr, status, error) {
        console.log("Error loading patrol members:", error);
      },
      success: function(data) {
        if (data.status === 'Success' && data.members && data.members.length > 0) {
          var patrolName = data.patrol_name;

          // Update the accordion header with patrol name
          $('#patrolMembersHeader').text(patrolName + ' Patrol Members');

          // Build the table
          var strTable = "<table><thead><tr>";
          strTable += "<th>Name</th>";
          strTable += "<th>Rank</th>";
          strTable += "<th>Position</th>";
          strTable += "</tr></thead><tbody>";

          data.members.forEach(function(member) {
            strTable += "<tr>";
            strTable += "<td><a href='User.php?id=" + member.user_id + "'>" + escapeHtml(member.first_name) + " " + escapeHtml(member.last_name) + "</a></td>";
            strTable += "<td>" + escapeHtml(member.rank) + "</td>";
            strTable += "<td>" + escapeHtml(member.position) + "</td>";
            strTable += "</tr>";
          });

          strTable += "</tbody></table>";

          $('#patrol_members_content').html(strTable);
          $('#divPatrolMembers').show();
        }
      }
    });
  }

  function escapeHtml(text) {
    if (!text) return '';
    var div = document.createElement('div');
    div.appendChild(document.createTextNode(text));
    return div.innerHTML;
  }

  $(document).ready(function () {
    strID = document.getElementById('user_id').value;
    var varEdit = document.getElementById('edit').value;
    var showEdit = document.getElementById('showEdit').value;
    webMaster = document.getElementById('webMaster').value;  // Assign to global variable, not local
    var userAdmin = document.getElementById('userAdmin').value;

    var fieldData = {
      "id": strID,
      "edit": varEdit,
      "showEdit": showEdit,
      "wm": webMaster,
      "userAdmin": userAdmin
    };
    $.ajax({
      url: "api/getuser.php",
      type: "post",
      data: fieldData,
      dataType: 'json',
      error: function (data) {
        console.log(data);
      },
      success: function (data) {
        $('#userData').append(data);
        $('#profilepic').append('<br><img src="profile_pics/' + strID + '.jpeg" alt="Profile Picture" class="profilepic" onerror="this.src=\'profile_pics/goat.jpeg\'" width=200 height=200>');
      }
    });
    $.ajax({
      url: "api/getOtherUserInfo.php",
      type: "post",
      data: fieldData,
      dataType: 'json',
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        console.log("error .ready");
        console.log(textStatus);
      },
      success: function (data) {
        if (data["profile"] == "no") {
          alert('You must complete your profile before using this site.');
        } else {
          loadEVTable("startdate", "1", "desc");    //1=Outings
          loadEVTable("startdate", "2", "desc");    //2=Service Projects
          loadEVTable("startdate", "3", "desc");    //3=Work Parties
        }
        //console.log(data);
        user_type = data['user_type'];
        setButtons(varEdit, showEdit, user_type, webMaster);
        $('#scoutData').append(data['scoutData']);
        $('#scoutData').append(data['addressData']);
        if (data['notifData']) {
          $('#notifData').append(data['notifData']);
        }
        // Load patrol members for scouts
        if (user_type == "Scout") {
          loadPatrolMembers();
        }
        if (user_type != "Scout") {
          $('#mb_panel').append(data['mbData']);
          toggleDiv("divMB");
          //i=1;
          if (varEdit) {
            if (data['scouts']) {
              data['scouts'].forEach(selectScout);
            }
          }
        }
      }
    });
    $(document).foundation();
  })
</script>
<form id="myForm">

  <div id="userData"></div>
  <div id="scoutData"></div>
  <div id="notifData"></div>
  <div id="userButtons"></div>
  <div id="profilepic"></div>

  <div class="row" style="display:none" id="divMB">
    <div class="large-12 columns">
      <dl class="accordion" data-accordion>
        <dd class="accordion-navigation">
          <a href="#mb_panel">Merit Badges</a>
          <div id="mb_panel" class="content">
          </div>
        </dd>
      </dl>
    </div>
  </div>

  <div class="row" style="display:none" id="divPatrolMembers">
    <div class="large-12 columns">
      <dl class="accordion" data-accordion>
        <dd class="accordion-navigation">
          <a href="#patrol_members_content" id="patrolMembersHeader">Patrol Members</a>
          <div id="patrol_members_content" class="content" style="background-color: #e8e8e8;">
          </div>
        </dd>
      </dl>
    </div>
  </div>

  <div class="row" style="display:none" id="divEvents1">
    <div class="large-12 columns">
      <dl class="accordion" data-accordion>
        <dd class="accordion-navigation">
          <a href="#ev_event_1">Outings</a>
          <div id="ev_event_1" class="content" style="background-color: #e8e8e8;">
          </div>
        </dd>
      </dl>
    </div>
  </div>

  <div class="row" style="display:none" id="divEvents2">
    <div class="large-12 columns">
      <dl class="accordion" data-accordion>
        <dd class="accordion-navigation">
          <a href="#ev_event_2">Service Projects</a>
          <div id="ev_event_2" class="content" style="background-color: #e8e8e8;">
          </div>
        </dd>
      </dl>
    </div>
  </div>

  <div class="row" style="display:none" id="divEvents3">
    <div class="large-12 columns">
      <dl class="accordion" data-accordion>
        <dd class="accordion-navigation">
          <a href="#ev_event_3">Work Parties</a>
          <div id="ev_event_3" class="content" style="background-color: #e8e8e8;">
          </div>
        </dd>
      </dl>
    </div>
  </div>


</form>
